include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Алюминий
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,47
          tr 
            td Температура плавления:
            td 660,37°C
          tr 
            td Температура кипения:
            td 2519°C
          tr 
            td Теплопроводность:
            td 221
          tr 
            td Плотность:
            td 2,702 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td  Ганс Кристиан Эрстед
          tr 
            td Цвет в твёрдом состоянии:
            td Серебристый
          tr 
            td Тип:
            td Металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">1</span>
          tr 
            td Электронная формула:
            td Al - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>1</sup> <br/>Al - [Ne] 3s<sup>2</sup> 3p<sup>1</sup>
          tr 
            td Валентность:
            td +3
          tr 
            td Степени окисления:
            td 0, +III
          tr 
            td Сверхпроводящее состояние при температуре:
            td 1,175 К
          tr 
            td Потенциалы ионизации:
            td 5,986 В<br/>18,828 В<br/>28,447 В
          tr 
            td Электропроводность в тв. фазе:
            td 38,2*10<span class="tup">6</span> при  273K
          tr 
            td Ковалентный радиус:
            td 1,18 Å
          tr 
            td Атомный объем:
            td 10 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,82 Å
          tr 
            td Теплота распада:
            td 10,79 КДж/моль
          tr 
            td Теплота парообразования:
            td 293,4 КДж/моль
