include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Дармштадтий
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 
          tr 
            td Температура плавления:
            td 
          tr 
            td Температура кипения:
            td 
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td предположительно 34,8 г/см<sup>3</sup>
          tr 
            td Открыт:
            td 9 ноября 1994 в Центре исследований тяжёлых ионов, Дармштадт, С. Хофманном, В. Ниновым, Ф. П. Хессбергером, П. Армбрустером, Х. Фолгером, Г. Мюнценбергом, Х. Шоттом и другими
          tr 
            td Цвет в твёрдом состоянии:
            td 
          tr 
            td Тип:
            td 
          tr 
            td Орбитали:
            td 
          tr 
            td Электронная формула:
            td <br/>
          tr 
            td Валентность:
            td 
          tr 
            td Степени окисления:
            td 
          tr 
            td Сверхпроводящее состояние при температуре:
            td 
          tr 
            td Потенциалы ионизации:
            td 
          tr 
            td Электропроводность в тв. фазе:
            td 
          tr 
            td Ковалентный радиус:
            td 
          tr 
            td Атомный объем:
            td 
          tr 
            td Атомный радиус:
            td 
          tr 
            td Теплота распада:
            td 
          tr 
            td Теплота парообразования:
            td 
