include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Иод
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 2,21
          tr 
            td Температура плавления:
            td 113,5°C
          tr 
            td Температура кипения:
            td 184,35°C
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 4,93 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td в 1811 г. Куртуа в золе морских водорослей, а с 1815 г. Гей-Люссак стал рассматривать его как химический элемент
          tr 
            td Цвет в твёрдом состоянии:
            td Фиолетово-темно-серый
          tr 
            td Тип:
            td Галоген
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">0</span>5s<span class="tup">2</span>5p<span class="tup">5</span>
          tr 
            td Электронная формула:
            td I - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>5</sup> <br/>I - [Kr] 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>5</sup>
          tr 
            td Валентность:
            td -1, +1, (+3), (+4), +5, +7
          tr 
            td Степени окисления:
            td -I, 0, +I, V, VII
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 10,44 В<br/>19,131 В<br/>33 В
          tr 
            td Электропроводность в тв. фазе:
            td 7,7*10<span class="tup">-14</span> при  273K
          tr 
            td Ковалентный радиус:
            td 1,33 Å
          tr 
            td Атомный объем:
            td 25,74 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,32 Å
          tr 
            td Теплота распада:
            td 7,824 Кдж/моль
          tr 
            td Теплота парообразования:
            td 20,752 Кдж/моль
