include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Калифорний
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 
          tr 
            td Температура плавления:
            td 173,15 К (900 °С, 1652 °F)
          tr 
            td Температура кипения:
            td оценочно 1743 K (1470 °C, 2678 °F)
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 
          tr 
            td Открыт:
            td Г. Сиборг, С. Томпсон, А. Гиосо, К. Стрит Дж.
          tr 
            td Цвет в твёрдом состоянии:
            td 
          tr 
            td Тип:
            td Редкоземельный
          tr 
            td Орбитали:
            td 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>3d<sup>10</sup>4s<sup>2</sup>4p<sup>6</sup>4d<sup>10</sup>4f<sup>14</sup>5s<sup>2</sup>5p<sup>6</sup>5d<sup>10</sup>5f<sup>10</sup>6s<sup>2</sup>6p<sup>6</sup>6d<sup>0</sup>7s<sup>2</sup>
          tr 
            td Электронная формула:
            td Cf - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>6</sup> 4f<sup>14</sup> 5d<sup>10</sup> 6s<sup>2</sup> 6p<sup>6</sup> 5f<sup>10</sup> 7s<sup>2</sup> <br/>Cf - [Rn] 5f<sup>10</sup> 7s<sup>2</sup>
          tr 
            td Валентность:
            td 
          tr 
            td Степени окисления:
            td 0, +Ш, IV
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td <br/>
          tr 
            td Электропроводность в тв. фазе:
            td  
          tr 
            td Ковалентный радиус:
            td 
          tr 
            td Атомный объем:
            td 
          tr 
            td Атомный радиус:
            td 295 пм
          tr 
            td Теплота распада:
            td 
          tr 
            td Теплота парообразования:
            td 
