include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Кислород
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 3,50
          tr 
            td Температура плавления:
            td -218,4°C
          tr 
            td Температура кипения:
            td -182,962°C
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 0,001429 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td Джозеф Пристли, Карл Вильем Шееле
          tr 
            td Цвет в твёрдом состоянии:
            td Светло-голубой
          tr 
            td Тип:
            td Неметалл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">4</span>
          tr 
            td Электронная формула:
            td O - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>4</sup> <br/>O - [He] 2s<sup>2</sup> 2p<sup>4</sup>
          tr 
            td Валентность:
            td -2
          tr 
            td Степени окисления:
            td -II, I, 0, +II
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 13,618 В<br/>35,117 В<br/>54,934 В
          tr 
            td Электропроводность в тв. фазе:
            td 
          tr 
            td Ковалентный радиус:
            td 0,73 Å
          tr 
            td Атомный объем:
            td 14 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 0,65 Å
          tr 
            td Теплота распада:
            td 0,22259 КДж/моль
          tr 
            td Теплота парообразования:
            td 3,4099 КДж/моль
