include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Литий
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 0,97
          tr 
            td Температура плавления:
            td 180,54°C
          tr 
            td Температура кипения:
            td 1342°C
          tr 
            td Теплопроводность:
            td 71
          tr 
            td Плотность:
            td 0,53 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td Йоханн Арфведсон
          tr 
            td Цвет в твёрдом состоянии:
            td Серебристо-белый
          tr 
            td Тип:
            td Щелочной металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">1</span>
          tr 
            td Электронная формула:
            td Li - 1s<sup>2</sup> 2s<sup>1</sup> <br/>Li - [He] 2s<sup>1</sup>
          tr 
            td Валентность:
            td +1
          tr 
            td Степени окисления:
            td 0, +I
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 5,392 В<br/>76,638 В<br/>122,451 В
          tr 
            td Электропроводность в тв. фазе:
            td 10,7*10<span class="tup">6</span> при  293K
          tr 
            td Ковалентный радиус:
            td 1,23 Å
          tr 
            td Атомный объем:
            td 13,1 см^3/моль
          tr 
            td Атомный радиус:
            td 2,05 Å
          tr 
            td Теплота распада:
            td 3 Кдж/моль
          tr 
            td Теплота парообразования:
            td 145,92 Кдж/моль
