include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Лоуренсий
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 
          tr 
            td Температура плавления:
            td 
          tr 
            td Температура кипения:
            td 
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 
          tr 
            td Открыт:
            td 
          tr 
            td Цвет в твёрдом состоянии:
            td 
          tr 
            td Тип:
            td Редкоземельный
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">14</span>5s<span class="tup">2</span>5p<span class="tup">6</span>5d<span class="tup">10</span>5f<span class="tup">14</span>6s<span class="tup">2</span>6p<span class="tup">6</span>6d<span class="tup">1</span>7s<span class="tup">2</span>
          tr 
            td Электронная формула:
            td Lr - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>6</sup> 4f<sup>14</sup> 5d<sup>10</sup> 6s<sup>2</sup> 6p<sup>6</sup> 5f<sup>14</sup> 6d<sup>1</sup> 7s<sup>2</sup> <br/>Lr - [Rn] 5f<sup>14</sup> 6d<sup>1</sup> 7s<sup>2</sup>
          tr 
            td Валентность:
            td 
          tr 
            td Степени окисления:
            td 0, +III
          tr 
            td Сверхпроводящее состояние при температуре:
            td 
          tr 
            td Потенциалы ионизации:
            td 
          tr 
            td Электропроводность в тв. фазе:
            td 
          tr 
            td Ковалентный радиус:
            td 
          tr 
            td Атомный объем:
            td 
          tr 
            td Атомный радиус:
            td 
          tr 
            td Теплота распада:
            td 
          tr 
            td Теплота парообразования:
            td 
