include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Марганец
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,60
          tr 
            td Температура плавления:
            td 271,3°C
          tr 
            td Температура кипения:
            td 1560°C
          tr 
            td Теплопроводность:
            td 8
          tr 
            td Плотность:
            td 9,8 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td Известен с глубокой древности
          tr 
            td Цвет в твёрдом состоянии:
            td Блестящий красновато-белый
          tr 
            td Тип:
            td Металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">14</span>5s<span class="tup">2</span>5p<span class="tup">6</span>5d<span class="tup">10</span>5f<span class="tup">0</span>6s<span class="tup">2</span>6p<span class="tup">3</span>
          tr 
            td Электронная формула:
            td Mn - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>5</sup> <br/>Mn - [Ar] 4s<sup>2</sup> 3d<sup>5</sup>
          tr 
            td Валентность:
            td +2, (+3), +4, (+6), +7
          tr 
            td Степени окисления:
            td 0, +II, IV, VI, VIII
          tr 
            td Сверхпроводящее состояние при температуре:
            td 6,154 К
          tr 
            td Потенциалы ионизации:
            td 7,237 В<br/>16,687 В<br/>25,559 В
          tr 
            td Электропроводность в тв. фазе:
            td 0,92*10<span class="tup">6</span> при  273K
          tr 
            td Ковалентный радиус:
            td 1,46 Å
          tr 
            td Атомный объем:
            td 21,3 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,63 Å
          tr 
            td Теплота распада:
            td 11,3 Кдж/моль
          tr 
            td Теплота парообразования:
            td 104,8 Кдж/моль
