include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Магний
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,23
          tr 
            td Температура плавления:
            td 648,8°C
          tr 
            td Температура кипения:
            td 1090°C
          tr 
            td Теплопроводность:
            td 172
          tr 
            td Плотность:
            td 1,738 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td  Гемфри Дэви
          tr 
            td Цвет в твёрдом состоянии:
            td Серебристо-белый
          tr 
            td Тип:
            td Щелочно-земельный металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>
          tr 
            td Электронная формула:
            td Mg - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> <br/>Mg - [Ne] 3s<sup>2</sup>
          tr 
            td Валентность:
            td +2
          tr 
            td Степени окисления:
            td 0, + II
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 7,646 В<br/>15,035 В<br/>80,143 В
          tr 
            td Электропроводность в тв. фазе:
            td 25*10<span class="tup">6</span> при  293K
          tr 
            td Ковалентный радиус:
            td 1,36 Å
          tr 
            td Атомный объем:
            td 13,97 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,72 Å
          tr 
            td Теплота распада:
            td 8,954 КДж/моль
          tr 
            td Теплота парообразования:
            td 127,4 КДж/моль
