include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Осмий
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,52
          tr 
            td Температура плавления:
            td 3054°C
          tr 
            td Температура кипения:
            td 5027°C
          tr 
            td Теплопроводность:
            td 109
          tr 
            td Плотность:
            td 22,4 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td С. Теннант
          tr 
            td Цвет в твёрдом состоянии:
            td Синевато-серый
          tr 
            td Тип:
            td Переходный металл
          tr 
            td Орбитали:
            td 1s<sup>2</sup>2s<sup>2</sup>2p<sup>6</sup>3s<sup>2</sup>3p<sup>6</sup>3d<sup>10</sup>4s<sup>2</sup>4p<sup>6</sup>4d<sup>10</sup>4f<sup>14</sup>5s<sup>2</sup>5p<sup>6</sup>5d<sup>6</sup>5f<sup>0</sup>6s<sup>2</sup>
          tr 
            td Электронная формула:
            td Os - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>6</sup> 4f<sup>14</sup> 5d<sup>6</sup> 6s<sup>2</sup> <br/>Os - [Xe] 4f<sup>14</sup> 5d<sup>6</sup> 6s<sup>2</sup>
          tr 
            td Валентность:
            td (+2), +3, +4, +6, +8
          tr 
            td Степени окисления:
            td 0, +IV, VI, VIII
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0,655 К
          tr 
            td Потенциалы ионизации:
            td 8,7 В<br/><br/>
          tr 
            td Электропроводность в тв. фазе:
            td 12,2*10<span class="tup">6</span> при  300K
          tr 
            td Ковалентный радиус:
            td 1,26 Å
          tr 
            td Атомный объем:
            td 8,49 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,92 Å
          tr 
            td Теплота распада:
            td 31,8 Кдж/моль
          tr 
            td Теплота парообразования:
            td 746 Кдж/моль
