include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Рутений
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,42
          tr 
            td Температура плавления:
            td 2334 °C (2607 K, 4233 °F)
          tr 
            td Температура кипения:
            td 4077 °C (4350 K, 7371 °F)
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 12,41 г/см<sup>3</sup>
          tr 
            td Открыт:
            td профессором Казанского университета Карлом Клаусом в 1844 году
          tr 
            td Цвет в твёрдом состоянии:
            td 
          tr 
            td Тип:
            td Переходный металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">14</span>5s<span class="tup">2</span>5p<span class="tup">6</span>5d<span class="tup">10</span>5f<span class="tup">14</span>6s<span class="tup">2</span>6p<span class="tup">6</span>6d<span class="tup">5</span>7s<span class="tup">2</span>
          tr 
            td Электронная формула:
            td Ru - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 4d<sup>7</sup> 5s<sup>1</sup> <br/>Ru - [Kr] 4d<sup>7</sup> 5s<sup>1</sup>
          tr 
            td Валентность:
            td (+2), +3, +4, (+6), (+7), +8
          tr 
            td Степени окисления:
            td 0, +II, IV, VI, VIII
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td <br/>
          tr 
            td Электропроводность в тв. фазе:
            td 
          tr 
            td Ковалентный радиус:
            td 
          tr 
            td Атомный объем:
            td 
          tr 
            td Атомный радиус:
            td 134 пм
          tr 
            td Теплота распада:
            td 
          tr 
            td Теплота парообразования:
            td 
