include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Свинец
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,55
          tr 
            td Температура плавления:
            td 327,502°C
          tr 
            td Температура кипения:
            td 1740°C
          tr 
            td Теплопроводность:
            td 35
          tr 
            td Плотность:
            td 11,34 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td Известен с глубокой древности
          tr 
            td Цвет в твёрдом состоянии:
            td Голубовато-белый
          tr 
            td Тип:
            td Металл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">14</span>5s<span class="tup">2</span>5p<span class="tup">6</span>5d<span class="tup">10</span>5f<span class="tup">0</span>6s<span class="tup">2</span>6p<span class="tup">2</span>
          tr 
            td Электронная формула:
            td Pb - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 5s<sup>2</sup> 4d<sup>10</sup> 5p<sup>6</sup> 4f<sup>14</sup> 5d<sup>10</sup> 6s<sup>2</sup> 6p<sup>2</sup> <br/>Pb - [Xe] 4f<sup>14</sup> 5d<sup>10</sup> 6s<sup>2</sup> 6p<sup>2</sup>
          tr 
            td Валентность:
            td +2, +4
          tr 
            td Степени окисления:
            td 0, +II, IV
          tr 
            td Сверхпроводящее состояние при температуре:
            td 7,23 К
          tr 
            td Потенциалы ионизации:
            td 7,415 В<br/>15,028 В<br/>31,943 В
          tr 
            td Электропроводность в тв. фазе:
            td 5,27*10<span class="tup">6</span> при  273K
          tr 
            td Ковалентный радиус:
            td 1,47 Å
          tr 
            td Атомный объем:
            td 18,17 см^3/моль
          tr 
            td Атомный радиус:
            td 1,81 Å
          tr 
            td Теплота распада:
            td 4,799 Кдж/моль
          tr 
            td Теплота парообразования:
            td 177,7 Кдж/моль
