include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Сера
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 2,60
          tr 
            td Температура плавления:
            td 115,21°C
          tr 
            td Температура кипения:
            td 444,6°C
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 2,07 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td  Известна с глубокой древности
          tr 
            td Цвет в твёрдом состоянии:
            td Лимонно-желтая (ромбическая)
          tr 
            td Тип:
            td Неметалл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">4</span>
          tr 
            td Электронная формула:
            td S - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>4</sup> <br/>S - [Ne] 3s<sup>2</sup> 3p<sup>4</sup>
          tr 
            td Валентность:
            td -2, +2, +4, +6
          tr 
            td Степени окисления:
            td -II, 0, +IV, VI
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 10,360 В<br/>23,33 В<br/>34,83 В
          tr 
            td Электропроводность в тв. фазе:
            td 5*10<span class="tup">-22</span> при  293K
          tr 
            td Ковалентный радиус:
            td 1,02 Å
          tr 
            td Атомный объем:
            td 15,5 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 1,09 Å
          tr 
            td Теплота распада:
            td 1,7175 КДж/моль
          tr 
            td Теплота парообразования:
            td 
