include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Технеций
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 1,36
          tr 
            td Температура плавления:
            td -209,86°C
          tr 
            td Температура кипения:
            td -195,8°C
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 0,0012506 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td  Даниэль Резерфорд
          tr 
            td Цвет в твёрдом состоянии:
            td Бесцветный
          tr 
            td Тип:
            td Неметалл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">3</span>
          tr 
            td Электронная формула:
            td Tc - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>2</sup> 3d<sup>10</sup> 4p<sup>6</sup> 4d<sup>5</sup> 5s<sup>2</sup> <br/>Tc - [Kr] 4d<sup>5</sup> 5s<sup>2</sup>
          tr 
            td Валентность:
            td +6
          tr 
            td Степени окисления:
            td 0, +IV, VII
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 14,534 В<br/>29,601 В<br/>47,448 В
          tr 
            td Электропроводность в тв. фазе:
            td 
          tr 
            td Ковалентный радиус:
            td 0,75 Å
          tr 
            td Атомный объем:
            td 17,3 см<span class="tup">3</span>/моль
          tr 
            td Атомный радиус:
            td 0,75 Å
          tr 
            td Теплота распада:
            td 0,3604 Кдж/моль
          tr 
            td Теплота парообразования:
            td 2,7928 Кдж/моль
