include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Углерод
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 2,50
          tr 
            td Температура плавления:
            td 3825°C
          tr 
            td Температура кипения:
            td 4827°C
          tr 
            td Теплопроводность:
            td 0
          tr 
            td Плотность:
            td 2,62 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td 
          tr 
            td Цвет в твёрдом состоянии:
            td 
          tr 
            td Тип:
            td Неметалл
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">2</span>
          tr 
            td Электронная формула:
            td C - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>2</sup> <br/>C - [He] 2s<sup>2</sup> 2p<sup>2</sup>
          tr 
            td Валентность:
            td (+2), +4
          tr 
            td Степени окисления:
            td -IV, I, 0, +II, IV
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 11,268 В
          tr 
            td Электропроводность в тв. фазе:
            td 24,384 В
          tr 
            td Ковалентный радиус:
            td 47,887 Å
          tr 
            td Атомный объем:
            td 4,58 см<sup>3</sup>/моль
          tr 
            td Атомный радиус:
            td 0,91 Å
          tr 
            td Теплота распада:
            td 
          tr 
            td Теплота парообразования:
            td 355,8 Кдж/моль
