include templates.pug
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/elemp_style.css")
  body
    +CreateMenu("elem")
    h1 Хром
    table 
        thead 
        tbody
          tr 
            td Относительная электроотрицательность (по Полингу):
            td 
          tr 
            td Температура плавления:
            td 931°C
          tr 
            td Температура кипения:
            td 3520°C
          tr 
            td Теплопроводность:
            td 13
          tr 
            td Плотность:
            td 6,77 г/см<span class="tup">3</span>
          tr 
            td Открыт:
            td К. Ф. Ауэр фон Вельсбах
          tr 
            td Цвет в твёрдом состоянии:
            td Серебристо-белый с желтоватым оттенком
          tr 
            td Тип:
            td Редкоземельный
          tr 
            td Орбитали:
            td 1s<span class="tup">2</span>2s<span class="tup">2</span>2p<span class="tup">6</span>3s<span class="tup">2</span>3p<span class="tup">6</span>3d<span class="tup">10</span>4s<span class="tup">2</span>4p<span class="tup">6</span>4d<span class="tup">10</span>4f<span class="tup">3</span>5s<span class="tup">2</span>5p<span class="tup">6</span>5d<span class="tup">0</span>5f<span class="tup">0</span>6s<span class="tup">2</span>
          tr 
            td Электронная формула:
            td Cr - 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 4s<sup>1</sup> 3d<sup>5</sup> <br/>Cr - [Ar] 4s<sup>1</sup> 3d<sup>5</sup>
          tr 
            td Валентность:
            td +2, +3, +6
          tr 
            td Степени окисления:
            td 0, + II , III , VI
          tr 
            td Сверхпроводящее состояние при температуре:
            td 0 К
          tr 
            td Потенциалы ионизации:
            td 10,551 В<br/>21,62 В
          tr 
            td Электропроводность в тв. фазе:
            td 1,42*10<span class="tup">6</span> при  300K
          tr 
            td Ковалентный радиус:
            td 1,65 Å
          tr 
            td Атомный объем:
            td 20,8 см^3/моль
          tr 
            td Атомный радиус:
            td 2,67 Å
          tr 
            td Теплота распада:
            td 6,89 Кдж/моль
          tr 
            td Теплота парообразования:
            td 296,8 Кдж/моль
